@import "framework/imports"

html, body
    background-color: $haze-100
    height: 100%
    letter-spacing: .25px
    word-break: break-word

/**
 * Basics
 */

.lead
    font-size: 18px
    line-height: 1.6

.cover
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.slide
    padding-top: 80px
    padding-bottom: 80px
    outline: none !important

.shade
    // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0.1+0,1+100 */
    // background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.55) 50%, rgba(0,0,0,1) 100%)
    // background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%)
    // background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%)
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=0 )
    //
    // /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+41,000000+100&0.1+0,0.64+41,1+100 */
    // background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.64) 41%, rgba(0,0,0,1) 100%)
    // background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    // background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=0 )

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+41,000000+100&0.1+0,0.64+41,1+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.64) 41%, rgba(0,0,0,1) 100%)
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    background: linear-gradient(135deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=1 )

.container--large
    padding-top: 80px
    padding-bottom: 80px

.header
    background-color: #FFF



/**
 * Form Group
 */

.form-group
    margin-bottom: $spacing-md

    > label
        font-size: 95%



/**
 * Header
 */

.header__menu
    background-color: #1382A5

    .menu
        li + li
            margin-left: 40px
        a
            color: #FFF
            padding: 16px 0



.grid--steps
    .grid__item + .grid__item
        // border-left: 1px solid $haze-200


.grid--social
    .grid__item
        padding-top: 40px
        padding-bottom: 40px

    @include media-query(palm)
        .grid--twitter
            border-left: 1px solid $haze-100
            border-right: 1px solid $haze-100

        .grid--email
            border-left: 1px solid $haze-100



/**
 * Simple Accordian, utilising checkbox or radio
 */

.grid--facts__border-left
    border-left: 1px solid $haze-200

.grid--facts__border-top
    border-top: 1px solid $haze-200



/**
 * Simple Accordian, utilising checkbox or radio
 */

.accordian
    + .accordian
        border-top: 1px solid darken(#F7F8FA, 4%)
        margin-top: 16px
        padding-top: 16px

.accordian__content
    display: none

.accordian__handler:hover
    color: $link-color

.accordian__toggle:checked
    ~ .accordian__handler
        color: $link-color
    ~ .accordian__content
        display: block

/**
 * Wrappers
 */
.wrapper
    background: #FFF
    margin: 0 auto
    max-width: 1200px

.slide--dark,
.wrapper--dark
    background: #242E39
    color: #E6E9EF

    .text--three
        color: #FFF

    .rule,
    .grid--facts__border-left,
    .grid--facts__border-top
        border-color: #465668


/**
 * Car slide in
 */
.slide-about
    overflow: hidden

.luxurious-bmw-cars
    position: relative
    margin-top: $spacing-xl
    min-height: 250px

    > *
        position: absolute
        left: -100%
        transition: .7s ease all

    > img:nth-child(1)
        bottom: 0

    > img:nth-child(2)
        bottom: 25px
        transition-delay: .2s

    > img:nth-child(3)
        bottom: 50px
        transition-delay: .4s

    > img:nth-child(4)
        bottom: 70px
        transition-delay: .6s


.luxurious-bmw-cars.animate
    > img:nth-child(1)
        left: -5%

    > img:nth-child(2)
        left: 20%

    > img:nth-child(3)
        left: 40%

    > img:nth-child(4)
        left: 65%


/**
 * Carousel
 */
.carousel
    .item
        min-height: calc(100% - 300px)
        color: rgba(255,255,255,.64)
        font-size: 16px

        .container
            max-width: 640px

        h2
            color: #FFF

    .owl-nav
        position: absolute
        top: 50%
        left: 0
        margin-top: -20px
        width: 100%

        div.owl-prev
            float: left
            border-radius: 0 4px 4px 0
            border-left: 0 !important

        div.owl-next
            float: right
            border-radius: 4px 0 0 4px
            border-right: 0 !important

        div.owl-prev,
        div.owl-next
            background: rgba(255, 255, 255, 0.1)
            color: #FFF
            color: rgba(255, 255, 255, 0.5)
            width: 100px
            height: 40px
            line-height: 40px
            border: 1px solid rgba(255, 255, 255, 0.2)
            text-align: center
            text-transform: uppercase
            font-size: 12px
            padding: 0
            margin: 0
            letter-spacing: 2px

            &:hover
                background-color: #1382A5

        @include media-query(palm)
            top: auto
            bottom: 10px

.carousel-tabs
    margin-bottom: 24px

.js-back-top
    background-color: $dark-100
    box-shadow: none
    border-radius: 100px
    color: #FFF
    padding: 4px 12px 3px


@include media-query(palm)
    .container
        padding-left: 24px !important
        padding-right: 24px !important

    .container--large
        padding-top: 40px !important
        padding-bottom: 40px !important

        &.table-cell
            padding-right: 0 !important
            padding-left: 0 !important

    .header__menu
        overflow: hidden
        max-height: 0

        .menu li+li
            margin: 0

        .show--menu &
            max-height: 1000px

    .header__logo--main
        height: 48px

    .header__menu-mobile
        box-shadow: none !important
        line-height: 40px
        top: 50%
        margin-top: -20px

        .bars
            width: 28px
        .bar
            background: #222
            width: 28px
            height: 2px
            top: 50%
            margin-top: -1px

        .bar--one
            margin-top: -10px

        .bar--tri
            margin-top: 8px

    .text--three
        font-size: 28px
        line-height: 34px

    .grid--facts,
    .grid--social
        .grid__item
            border-left: 0
            border-right: 0

    .grid--social
        .grid__item + .grid__item
            border-top: 1px solid $haze-200

    .grid--facts
        .grid__item + .grid__item
            border-top: 1px solid rgba(#FFF,.05)
