@if $use-grids == true{
    .grid{
        margin-left: -$base-spacing/2;
        margin-right: -$base-spacing/2;
        list-style:none;
        margin-bottom:0;

        &:after {
            clear: both;
            content: '';
            display: table;
        }
    }
    .grid__item{
        display:inline-block;
        float: left;
        width:100%;
        padding-left:$base-spacing/2;
        padding-right:$base-spacing/2;
        vertical-align:top;
        @if $global-border-box == false{
            @include vendor(box-sizing, border-box);
        }
    }

    .grid--full {
        margin-left: 0;

        > .grid__item {
            padding-left: 0;
        }
    }

    .grid--xs {
        margin-left: -$spacing-xs/2;
        margin-right: -$spacing-xs/2;

        > .grid__item {
            padding-left: $spacing-xs/2;
            padding-right: $spacing-xs/2;
        }
    }
    .grid--sm {
        margin-left: -$spacing-sm/2;
        margin-right: -$spacing-sm/2;

        > .grid__item {
            padding-left: $spacing-sm/2;
            padding-right: $spacing-sm/2;
        }
    }
    .grid--lg {
        margin-left: -$spacing-lg/2;
        margin-right: -$spacing-lg/2;

        > .grid__item {
            padding-left: $spacing-lg/2;
            padding-right: $spacing-lg/2;
        }
    }
    .grid--xl {
        margin-left: -$spacing-xl/2;
        margin-right: -$spacing-xl/2;

        > .grid__item {
            padding-left: $spacing-xl/2;
            padding-right: $spacing-xl/2;
        }
    }
}//endif
