@if $use-rules == true{

/*------------------------------------*\
    $RULES
\*------------------------------------*/
/**
 * Horizontal rules, extend `hr`.
 *
 * Demo: jsfiddle.net/inuitcss/L6GuZ
 *
 */
hr,
.rule{
    color:$base-ui-color;
    border:none;
    border-bottom-width:1px;
    border-bottom-style:solid;
    margin:0;
}
.rule--light {
    color: rgba($base-ui-color, .5);
}

}//endif
