@if $use-beautons == true
    .btn
        @include vendor(border-radius, $base-radius)
        @include vendor(transition, all ease .2s)
        color: $font-color
        cursor: pointer
        display: inline-block
        font-family: inherit
        font-size: $base-font-size
        font-weight: $button-font-weight
        line-height: $base-line-height
        margin: 0
        padding: ($button-spacing-vertical) ($button-spacing-horizontal)
        outline: none
        position: relative
        text-align: center
        text-decoration: none !important
        vertical-align: middle
        white-space: nowrap

        &:active,
        &:focus
            outline: none

        .icon
            font-size: 16px
            &,
            &:before
                display: inline-block
                line-height: inherit
                height: $base-line-height
                vertical-align: top

    .btn--positive
        background: $brand-positive
        color: #fff

    .btn--negative
        background: $brand-negative
        color: #fff

    .btn--primary
        background: $brand-primary
        color: #fff

    .btn--secondary
        background: #FFDA00
        color: #333




    /**
     * Modifiers
     */
    .btn--full
        display: block
        width: 100%

    .btn--link
        @include vendor(box-shadow, none)
        color: $link-color
        background: transparent !important
        border: 0 !important
