/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */

h1,h2,h3,h4,h5,h6 {
    font-family: $base-font-headings;
    color: $base-font-headings-colors;
    font-weight: 400;
}
h1 {
    font-size: $h1-size; line-height: $h1-size + 8;
}
h2 {
    font-size: $h2-size; line-height: $h2-size + 8;
}
h3 {
    font-size: $h3-size; line-height: $h2-size + 8;
}
h4 {
    font-size: $h4-size; line-height: $h4-size + 8;
}
h5 {
    font-size: $h5-size; line-height: $h5-size + 8;
}
h6 {
    font-size: $h6-size; line-height: $h6-size + 8;
}


@mixin headings-setup($namespace: "") {
    .#{$namespace}text--one    { font-size: $h1-size; line-height: $h1-size + 8; }
    .#{$namespace}text--two    { font-size: $h2-size; line-height: $h2-size + 8; }
    .#{$namespace}text--three  { font-size: $h3-size; line-height: $h2-size + 8; }
    .#{$namespace}text--four   { font-size: $h4-size; line-height: $h4-size + 8; }
    .#{$namespace}text--five   { font-size: $h5-size; line-height: $h5-size + 8; }
    .#{$namespace}text--six    { font-size: $h6-size; line-height: $h6-size + 8; }
}
@include headings-setup();

@include media-query(palm){
    @include headings-setup("palm-");
}
