@if $use-bootstrap-dropdown == true
    .dropdown
        position: relative

    .dropdown__menu
        @include vendor(box-shadow, 0 6px 12px rgba(0,0,0,.175), 0 0 1px rgba(0,0,0,.1))
        @include vendor(border-radius, $base-radius)
        background: #fff
        display: none
        margin-top: 5px
        position: absolute
        top: 100%
        left: 0
        z-index: 9999


        .dropdown__list
            list-style: none
            padding: 10px 0
            margin: 0

            a
                color: $font-color
                display: block
                line-height: 32px
                padding: 0 $spacing-md
                text-decoration: none !important
                white-space: nowrap

                &:hover
                    background: $base-ui-color
                    color: $link-color

            .divider
                border-top: 1px solid $base-ui-color
                margin: 10px 0

    .open > .dropdown__menu
        display: block
