/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */


/**
 * Add/remove floats
 */
.float--right               { float: right !important }
.float--left                { float: left  !important }
.float--none                { float: none  !important }


/**
 * Text alignment
 */


@mixin text-setup($namespace: "") {
    .#{$namespace}text--left                 { text-align: left    !important }
    .#{$namespace}text--center               { text-align: center  !important }
    .#{$namespace}text--right                { text-align: right   !important }
    .#{$namespace}text--truncate             { @include truncate(100%) }
}

@include text-setup();

@include media-query(palm){
    @include text-setup("palm-");
}


/**
 * Text colors
 */
.text--white                { color: #FFF }
.text--semi-white           { color: rgba(255,255,255,.7) }
.text--muted                { color: lighten($font-color, 20%)  }
.text--positive             { color: $brand-positive !important }
.text--negative             { color: $brand-negative !important }


/**
 * Text Case
 */
.text--uppercase            { text-transform: uppercase  !important }
.text--lowercase            { text-transform: lowercase  !important }
.text--capitalize           { text-transform: capitalize !important }


/**
 * Font weights
 */
.text--light                { font-weight: 300  !important }
.text--normal               { font-weight: 400  !important }
.text--semibold             { font-weight: 500  !important }
.text--bold                 { font-weight: 700  !important }


/**
 * Positions
 */
.relative                   { position: relative; }
.absolute                   { position: absolute; }
.fixed                      { position: fixed;    }
.static                     { position: static;   }
.pin                        { top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }
.pin--top                   { top: 0 }
.pin--right                 { right: 0 }
.pin--bottom                { bottom: 0 }
.pin--left                  { left: 0 }


/**
 * Vertical Alignment
 */
.valign--top                { vertical-align: top    !important; }
.valign--middle             { vertical-align: middle !important; }
.valign--bottom             { vertical-align: bottom !important; }


/**
 * Displays
 */

@mixin display-setup($namespace: "") {
    .#{$namespace}block                      { display: block; }
    .#{$namespace}block-inline               { display: inline-block; }
    .#{$namespace}table                      { display: table; }
    .#{$namespace}table-row                  { display: table-row; }
    .#{$namespace}table-cell                 { display: table-cell; }
}
@include display-setup();

@include media-query(palm){
    @include display-setup("palm-");
}


/**
 * Rounded
 */
.rounded                    { border-radius: $base-radius; }
.rounded--full              { border-radius: 9999px; }


/**
 * Z-Indexes
 */
.tier--one                  { z-index: 1; }
.tier--two                  { z-index: 2; }
.tier--three                { z-index: 3; }
.tier--four                 { z-index: 4; }
.tier--five                 { z-index: 5; }
.tier--six                  { z-index: 6; }
.tier--seven                { z-index: 7; }
.tier--eight                { z-index: 8; }
.tier--nine                 { z-index: 9; }
.tier--ten                  { z-index: 10; }


/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
@mixin accessibility{
    border:0!important;
    clip:rect(0 0 0 0)!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    padding:0!important;
    position: absolute!important;
    width:1px!important;
}
.visuallyhidden{
    @include accessibility;
}
@if $responsive{
    @each $state in palm, lap, lap-and-up, portable, desk, desk-wide{
        @include media-query(#{$state}){
            .visuallyhidden--#{$state}{
                @include accessibility;
            }
        }
    }
}


/**
 * Menus
 */

.menu {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;

    > li {
        float: left;
        position: relative;

        > a {
            display: block;
        }
    }
}


/**
 * Container
 */
.container {
    margin: 0 auto;
    max-width: 1040px;
    padding-left: $spacing-lg;
    padding-right: $spacing-lg;
}
















/**
 * External helper classes
 * --
 * Kindly consult with the team for adding/removing this classes
 */
.fill--shade                { background: lighten($base-background, 1%) !important; }
.transition--default        { @include vendor(transition, all .3s ease !important) }
.space--nowrap              { white-space: nowrap; }
