@mixin spacing-setup($namespace: "") {
    $base-spacing: 0;

    @if $namespace == "-xl"{
        $base-spacing: $spacing-xl;
    }

    @if $namespace == "-lg"{
        $base-spacing: $spacing-lg;
    }

    @if $namespace == "-md"{
        $base-spacing: $spacing-md;
    }

    @if $namespace == "-sm"{
        $base-spacing: $spacing-sm;
    }

    @if $namespace == "-xs"{
        $base-spacing: $spacing-xs;
    }

    .push#{$namespace}                       { margin:       $base-spacing !important; }
    .push#{$namespace}--top                  { margin-top:   $base-spacing !important; }
    .push#{$namespace}--right                { margin-right: $base-spacing !important; }
    .push#{$namespace}--bottom               { margin-bottom:$base-spacing !important; }
    .push#{$namespace}--left                 { margin-left:  $base-spacing !important; }
    .push#{$namespace}--ends                 { margin-top:   $base-spacing !important; margin-bottom:$base-spacing !important; }
    .push#{$namespace}--sides                { margin-right: $base-spacing !important; margin-left:  $base-spacing !important; }

    .soft#{$namespace}                       { padding:       $base-spacing !important; }
    .soft#{$namespace}--top                  { padding-top:   $base-spacing !important; }
    .soft#{$namespace}--right                { padding-right: $base-spacing !important; }
    .soft#{$namespace}--bottom               { padding-bottom:$base-spacing !important; }
    .soft#{$namespace}--left                 { padding-left:  $base-spacing !important; }
    .soft#{$namespace}--ends                 { padding-top:   $base-spacing !important; padding-bottom:$base-spacing !important; }
    .soft#{$namespace}--sides                { padding-right: $base-spacing !important; padding-left:  $base-spacing !important; }
}

@include spacing-setup("-xl");
@include spacing-setup("-lg");
@include spacing-setup("-md");
@include spacing-setup("-sm");
@include spacing-setup("-xs");

.flush                      { margin:       0 !important; }
.flush--top                 { margin-top:   0 !important; }
.flush--right               { margin-right: 0 !important; }
.flush--bottom              { margin-bottom:0 !important; }
.flush--left                { margin-left:  0 !important; }
.flush--ends                { margin-top:   0 !important; margin-bottom:0 !important; }
.flush--sides               { margin-right: 0 !important; margin-left:  0 !important; }

.hard                       { padding:       0 !important; }
.hard--top                  { padding-top:   0 !important; }
.hard--right                { padding-right: 0 !important; }
.hard--bottom               { padding-bottom:0 !important; }
.hard--left                 { padding-left:  0 !important; }
.hard--ends                 { padding-top:   0 !important; padding-bottom:0 !important; }
.hard--sides                { padding-right: 0 !important; padding-left:  0 !important; }
