/**
 * Fluid images.
 */
img{
    max-width:100%;
}


/**
 * Non-fluid images if you specify `width` and/or `height` attributes.
 */
img[width],
img[height]{
    max-width:none;
}


/**
 * Rounded images.
 */
.img--round { border-radius:$base-radius; }


/**
 * Image placement variations.
 */
.img--right{
    float:right;
}
.img--left{
    float:left;
}
.img--center{
    display:block;
    margin-right:auto;
    margin-bottom:$base-spacing;
    margin-left:auto;
}


/**
 * Images in `figure` elements.
 */
figure > img{
    display:block;
}
