/*------------------------------------*\
    $SMALLPRINT
\*------------------------------------*/
/**
 * A series of classes for setting tiny type; for use in smallprint etc.
 */
.smallprint,
.milli{
    @include font-size($milli-size);
    line-height: 1.5
}
.micro{
    @include font-size($micro-size);
    line-height: 1.5
}
