@import "framework/imports"

html, body
    background-color: $haze-100
    height: 100%
    letter-spacing: .25px
    word-break: break-word
    // -webkit-font-smoothing: antialiased

// html
//     overflow-x: hidden!important

/**
 * Basics
 */

.lead
    font-size: 18px
    line-height: 1.6

.cover
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.slide
    padding-top: 80px
    padding-bottom: 80px
    outline: none !important

.shade
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0.1+0,1+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.55) 50%, rgba(0,0,0,1) 100%)
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%)
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=0 )

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+41,000000+100&0.1+0,0.64+41,1+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.64) 41%, rgba(0,0,0,1) 100%)
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=0 )

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+41,000000+100&0.1+0,0.64+41,1+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.64) 41%, rgba(0,0,0,1) 100%)
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    background: linear-gradient(135deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.64) 41%,rgba(0,0,0,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=1 )

.container--large
    padding-top: 80px
    padding-bottom: 80px

.header
    background-color: #FFF



/**
 * Form Group
 */

.form-group
    margin-bottom: $spacing-md

    > label
        font-size: 95%



/**
 * Header
 */

.header__menu
    background-color: #1382A5

    .menu
        li + li
            margin-left: 40px
        a
            color: #FFF
            padding: 16px 0



/**
 * Simple Accordian, utilising checkbox or radio
 */

// .step
//     line-height: 1.6
//
//     + .step
//         margin-top: 24px
//
// .step__number
//     border-radius: 8px
//     width: 64px
//     height: 64px
//     line-height: 62px
//     text-align: center
//     background: darken(#F7F8FA, 4%)
//     font-size: 28px

.grid--steps
    .grid__item + .grid__item
        // border-left: 1px solid $haze-200


.grid--social
    .grid__item
        padding-top: 40px
        padding-bottom: 40px
    .grid--twitter
        border-left: 1px solid $haze-100
        border-right: 1px solid $haze-100

    .grid--website,
    .grid--email
        // border-top: 1px solid $haze-100

    .grid--email
        border-left: 1px solid $haze-100



/**
 * Simple Accordian, utilising checkbox or radio
 */

.grid--facts__border-left
    border-left: 1px solid $haze-200

.grid--facts__border-top
    border-top: 1px solid $haze-200



/**
 * Simple Accordian, utilising checkbox or radio
 */

.accordian
    + .accordian
        border-top: 1px solid darken(#F7F8FA, 4%)
        margin-top: 16px
        padding-top: 16px

.accordian__content
    display: none

.accordian__handler:hover
    color: $link-color

.accordian__toggle:checked
    ~ .accordian__handler
        color: $link-color
    ~ .accordian__content
        display: block


// about - charging station cars animation

.cars--charging
    margin: 50px auto 100px
    width: 140px

    > img
        max-width: none
        transition-timing-function: ease
        transition-duration: .6s
        transition-property: all

    > img:not(.charging--station)
        opacity: 0

.cars--mercedes,
.cars--volvo,
.cars--hyundai,
.cars--nissan,
    transform: scale(0.5)
    left: -84px

    .animate &
        transform: scale(1)
        opacity: 1 !important

.cars--mercedes
    transition-delay: .6s

    .animate &
        left: auto
        transform: translate3d(-450px, 60px, 0)

.cars--volvo
    transition-delay: .65s

    .animate &
        left: auto
        transform: translate3d(250px, 30px, 0)

.cars--hyundai
    transition-delay: .4s
    top: 50px

    .animate &
        left: auto
        transform: translate3d(-360px, 90px, 0)

.cars--nissan
    transition-delay: .2s
    top: 50px

    .animate &
        left: auto
        transform: translate3d(200px, 90px, 0)

.cars--tesla
    bottom: -70px
    left: -150px
    transform: translate3d(200px, -50px, 0) scale(0.7)
    opacity: 0

    .animate &
        transform: translate3d(0,0,0) scale(1)
        opacity: 1 !important


.js-back-top
    background-color: $dark-100
    box-shadow: none
    border-radius: 100px
    color: #FFF
    padding: 4px 12px 3px




@include media-query(palm)
    .container
        padding-left: 24px !important
        padding-right: 24px !important

    .container--large
        padding-top: 40px !important
        padding-bottom: 40px !important

        &.table-cell
            padding-right: 0 !important
            padding-left: 0 !important

    .header__menu
        overflow: hidden
        max-height: 0

        .menu li+li
            margin: 0

        .show--menu &
            max-height: 1000px

    .header__logo--main
        height: 48px

    .header__menu-mobile
        box-shadow: none !important
        line-height: 40px
        top: 50%
        margin-top: -20px

        .bars
            width: 28px
        .bar
            background: #222
            width: 28px
            height: 2px
            top: 50%
            margin-top: -1px

        .bar--one
            margin-top: -10px

        .bar--tri
            margin-top: 8px

    .grid--facts
        .grid__item
            border-left: 0
            + .grid__item
                border-top: 1px solid #344251


    .cars--charging
        transform: scale(0.6)
        margin-bottom: 50px
        margin-top: 25px
        // reset margin to half since its been scale to about half of original size


    .animate

        .cars--nissan
            transform: translate3d(150px, 90px, 0)

        .cars--volvo
            transform: translate3d(180px, 30px, 0)

        .cars--hyundai
            transform: translate3d(-300px, 90px, 0)

        .cars--mercedes
            transform: translate3d(-350px, 60px, 0)
